<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proektdva">

    <application
        android:allowBackup="true"
        android:label="Business App"
        android:logo="@drawable/logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.proektdva.Vnesuvanje" />
        <activity android:name="com.example.proektdva.EducationScreen" />
        <activity android:name="com.example.proektdva.IndustryScreen" />
        <activity android:name="com.example.proektdva.FunScreen" />
        <activity android:name="com.example.proektdva.ServicesScreen" />
        <activity android:name="com.example.proektdva.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>